@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}


.bg-image{
  background-image: url('./utils/images/BG.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-arrow {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 2;
    cursor: pointer;
  }

  .custom-arrow:hover {
    background-color: #ccc;
  }

  .custom-arrow::before {
    content: '';
  }
  
  .slick-next > *, .slick-prev > * {

    color: #333 !important;
  }
  .slick-prev {
    left: 10%;
    top: 50% !important;
  }
  
  .slick-next {
    right: 10%;
    top: 50% !important;
  } 

  
/* .slick-dots {
    top: calc(100% - 10px); 
    text-align: right;
  }
  
  .slick-dots li {
    margin-left: 10px; 
  } */

  .slick-dots {
    top: calc(100% + 40px); 
  }
  
  .slick-dots li {
    margin: 0px 10px; 
  }
  .slick-dots li button {
    font-size: 0;
  }
  
  .slick-dots li button::before {
    content: '';
    display: block;
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    background-color: #929292;
  }
  
  .slick-dots li.slick-active button::before {
    background-color: #1e40af;
    width: 30px;
    height: 15px;
    border-radius: 20px; 
    margin: 0px -10px;
  }